.card {
    background-color: lightblue;
    width: 400px;
    border-radius: 5px;
    padding: 16px 8px;
    margin: auto;
}

.title {
    text-align: center;
}

.link-card {
    width: 200px;
    background-color: white;
    margin: 8px auto;
    padding: 8px;
    text-align: center;
    border-radius: 5px;
}

.recipe, .description, h2, h1 {
    font-family: Helvetica, sans-serif;
    
}

.heading, .description, p{
    text-align:  center;
}

.heading {
    padding-top: 16px;
}

img {
    display: block;
    margin: auto;
}

body {
    background-color: rgb(240, 240, 240);
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
    padding: 0px;
}

.menu-card {
    background-color: lightblue;
    width: 1000px;
    margin: auto;
    border-radius: 10px;
    padding-bottom: 8px;
}

.content-card {
    background-color: white;
    border-radius: 10px;
    width: 800px;
    margin: 16px auto;
    padding: 2px;
}

.ingredients {
    text-align: center;
}

.steps {
    margin: 8px auto;
}

.step-title {
    text-align: center;
}